//  ## ABOUT US  ----------------------------------------------------------//

.about-us--container {
  .grid__item {
    @include breakpoint(desktop) {
      padding-left: calculateRem(14px);
    }
  }
  .section-strip {
    padding-top: calculateRem(80px);
    padding-bottom: calculateRem(20px);
  }
  h1 {
    margin-bottom: calculateRem(40px);
  }
  .icon-text {
    border-top: 1px;
  }
  p {
    @include breakpoint(desktop) {
      text-align: justify;
    }
  }
}


.second-item {

}

.about-team {
  .title {
    font-weight: 800;
    @include font-size(12);
  }
  .icon-text-col__item {
    .grid__item {
      h2 {
        color: $color--justBlue;
        margin-top: calculateRem(10px);
        @include breakpoint(tablet){
          margin-top: 0;
        }
        &.text-align-right {
          text-align: left;
        }
      }

      .icon-text-col__icon {
        @include breakpoint(tablet){
          @include span-columns(4 of 12);
        }
        img {
          width: 80%;
          height: auto;
          margin: auto;
        }
        .social-icons {
          text-align: left;
          margin-top: 12px;
          margin-left: 20%;
          display: inline-block;
          a {
            display: inline-block;
            width: 30%;
            @include breakpoint(tablet) {
              float: none;
              width: 20%;
            }
            &:first-child {
              @include breakpoint(tablet) {
                margin-right: 12px;
              }
            }
            img {
              width: 100%;
            }
          }
        }
        &.icon_mobile {
          @include breakpoint(tablet){
            display: none;
          }
        }
        &.icon_right {
          display: none;
          @include breakpoint(tablet){
            text-align: right;
            display: block;
          }
        }
      }
      .icon-text-col__text {
        @include breakpoint(tablet){
          @include span-columns(8 of 12);
        }
      }
    }
    &.second-item {
      .icon-text-col__text {
        padding: 0 26px 0 0;
      }
    }
  }
}

.opening {
  .about & {
    .icon-text-col__text {
      padding-left: 0;
      @include breakpoint(tablet) {
        padding-right: calculateRem(120px);
      }
    }
  }
}
