//  ## VARIABLES  -------------------------------------------------------------------//

// Base Typography
$base--fontSize: 16px;
$base--fontFamily: Helvetica, Arial, sans-serif;
$base--fontWeight: 400;

// Base Colors
$base--color: #333;
$base--linkColor: #fff;
$base--linkColorHover: darken($base--linkColor, 50%);
$base--projectLinkColor: #fff;
$base--projectLinkColorHover: darken($base--projectLinkColor, 15%);

$base--backgroundColor: #0c1c58;
$base--headerColor: #0c1c58;
$base--colorWhite: #fff;
$base--lightHeaderColor: #e0e0e0;
$base--ruleColor: #666;
$base--dateColor: #999;
$base--ctaColor: #f2703f;
$base--ctaColorHover: #c23c27;
$base--ctaTextColor: #fff;
$base--loaderBackgroundColor: #eee;
$base--loaderColor: #ccc;
$base--cardColor: #444;
$base--bgStripcolor: #034168;
$base--verde: #7aab1b;
$base--mustard: #c7bf2f;
$base--orange: #f7931f;
$base--blueHighlight: #3987c1;
$base--filterBg: #3987c1;

//logo pallette
$color--orange: #EF0A80;
$color--magenta: #EF0A80;
$color--yellow: #F5FA16;
$color--deepBlue: #0C0654;
$color--deeperBlue: #100c3c;
$color--lightBlue: #8db9ff;
$color--lighterBlue: #91dbff;
$color--mediumBlue: #28ace2;
$color--green: #2B8627;
$color--red: #EF0A80;
$color--blue1: #1D4497;
$color--aqua: #268194;
$color--justBlue: #298fff;
$color--lightestBlue: #eff4ff;



// Breakpoints
$breakpoint-phone: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-cinema: 1300px;

$breakpointNewsMax: 1300px;
$breakpointNewsMin: 1100px;

// Gradients
$gradient--dark: linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,1));
