<div class="page page-our-work anim-in-out anim-slide-below-fade" ng-cloak>

    <div class="work--container work--container--home">

      <div class="section-strip inner-hero work-item">
        <div class="container">
          <div class="intro text-align-center white">
            <h1>Corporate</h1>
          </div>
        </div>
      </div>

      <div class="section-strip inner-page-section work-item">
        <div class="container">
          <div class="">
            <article class="news--article sr-article news--featured--article hidden reveal" ng-repeat="post in posts|orderBy:'acf.position'|filter: post: post.acf.category='Corporate'" ng-class="{'featured':post.acf.featured == true,'featured-follow':post.acf.featured_follow == true}" when-visible="animateElementIn" when-not-visible="animateElementOut">
                <a href="{{site + '#/work/' + post.slug}}">
                  <picture picturefill>
                    <div class="picture-wrapper">
                      <img ng-srcset="{{post.acf.thumbnail | to_trustedURL}}" alt="{{post.acf.title.rendered | to_trusted}}" class="scroll-element"  imageonload="contentLoaded()" />
                    </div>
                  </picture>
                  <div class="work--featured-text">
                    <div>
                      <h2 class="subhead-middle" ng-bind-html="post.acf.title | to_trusted"></h2>
                      <h2 class="subhead subhead-bottom" ng-bind-html="post.acf.client | to_trusted"></h2>
                    </div>
                  </div>
                </a>
            </article>
          </div>
        </div>
      </div>
    </div>
</div>
