<div class="page page-home" ng-cloak>

    <div class="page-home--hero">

        <div class="slider">

            <div class="slide-wrapper text-align-center">
              <div class="video-background">
                <video poster="" id="vid-1" playsinline autoplay muted loop>
                  <source src="https://player.vimeo.com/external/221192568.hd.mp4?s=412e8c381b57f98c380dc5494da976b3e249018b&profile_id=174" type="video/mp4">
                  </video>
              </div>
              <div class="slide-wrapper img-slide work-item text-align-center" tabindex="-1" role="option" aria-describedby="slick-slide04" style="" aria-hidden="true">
                  <div class="slide-wrapper__item">
                    <h2 class="subhead subhead-bottom">CONTENT for the <span class="nowrap">next age</span></h2>
                  </div>
                </div>
            </div>

        </div>

        <div class="home-bottom-bar text-align-center">
          <div class="container">
            <p class="home-bottom-bar__text">
            Only history can be the judge, but we think something big is up. Video is exploding. <span class="nowrap">Screens are virtually</span> everywhere. Everyone is screaming for more content. But want it for much, much less. Our world is changing, and, like you, we can’t wait to see what’s next.
            </p>
          </div>
        </div>

        <!--video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="" class="vid-1" playsinline autoplay muted loop>
            <source src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm">
          <source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
          </video-->
    </div>

</div>
