<div class="page page-home anim-in-out anim-slide-below-fade">

    <div class="page-home--hero">

        <div class="img-slide mtn-logo text-align-center"></div>

    </div>

    <ul class="home-list home-list--social" ng-class="socialActive">
      <li><a class="home-list__icon site-footer-list__icon--facebook" href="https://www.facebook.com/">Facebook</a></li>
      <li><a class="home-list__icon site-footer-list__icon--twitter" href="https://twitter.com/">Twitter</a></li>
      <li><a class="home-list__icon site-footer-list__icon--instagram" href="">Linkedin</a></li>
    </ul>

</div>
