<div class="page page-our-work anim-in-out anim-slide-below-fade" ng-cloak>

    <div class="library--container library--container--home what-we-do">

      <div class="section-strip what-we-do--item what-we-do__header">
        <div class="container">
          <div class="intro text-align-center white">
            <h1>What we do</h1>
            <div class="subhead text-align-center cinch">
              <p>First and foremost, we write, direct and produce content. But we don’t do this in a vacuum.Strategy are media placement inform our communications before we ever take off  the lens cap.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="section-strip what-we-do--item inner-page-section what-we-do__placement">
        <div class="container">
          <article class="news--article">
              <div class="library--featured-text text-align-center cinch">
                  <h2>Placement
                  </h2>
                <p>In today’s hyper-targeted media world, it you don’t have a good idea exactly who you want to reach, and it can be brutally precise nowadays, you should sit down and have a good, long think. On the other hand, when you know you are, say, reaching liberal Labradoodle owners with a household income of $120,000+, it’s go time. Not only can we make targeted films for these folks, we can rock their furry little world.
                </p>
              </div>
          </article>
        </div>
    </div>
      <div class="section-strip what-we-do--item inner-page-section what-we-do__strategy">
        <div class="container">
          <article class="news--article">
              <div class="library--featured-text text-align-center cinch-med">
                  <h2>Strategy
                  </h2>
                <p>After we have thoroughly fleshed out our target, the question becomes what’s our strategic approach? How do we get up in their heads and create a content-driven endorphin high? If you don’t have the right strategy you will never get past the best ad-blocker ever devised: the human brain.
                </p>
              </div>
          </article>
        </div>
    </div>
      <div class="section-strip what-we-do--item inner-page-section what-we-do__services">
        <div class="container">
          <article class="news--article">
              <div class="library--featured-text text-align-center">
                  <h2>Services
                  </h2>
                <p class="cinch-more">With that said, here are the specific services we offer -- either a few at a time, or all bundled up into one giant ball of customer delight.
                </p>
                <div class="what-we-do__three-col">
                  <p>Directing
                  </p>
                  <p>Scriptwriting
                  </p>
                  <p>Directing
                  </p>
                </div>
                <div class="what-we-do__three-col">
                  <p>Filmmaking
                  </p>
                  <p>Editing
                  </p>
                  <p>Motion Graphics
                  </p>
                </div>
                <div class="what-we-do__three-col">
                  <p>Strategy
                  </p>
                  <p>Media Planning
                  </p>
                  <p>Media Analytics
                  </p>
                </div>
              </div>
          </article>
        </div>
    </div>
      <div class="section-strip what-we-do--item inner-page-section what-we-do__content">
        <div class="container">
          <article class="news--article">
              <div class="library--featured-text text-align-center">
                  <h2>Content
                  </h2>
                <p>And here are some of the types of content we make
                </p>
                <div class="what-we-do__three-col">
                  <p>Commercials</p>
                  <p>Branded Content</p>
                  <p>Training Films</p>
                </div>
                <div class="what-we-do__three-col">
                <p>Webisodes</p>
                <p>Social</p>
                <p>Explainer Videos</p>
                <p>Stuff that hasn’t been invented yet</p>
                </div>
                <div class="what-we-do__three-col">
                <p>Kickstarter Video</p>
                <p>Corporate Positioning Films</p>
                <p>Corporate Rally Films</p>
                </div>
              </div>
          </article>
        </div>
    </div>
  </div>
</div>
